
.root {

}

.inputRow,
.bio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputRow :global(.Input),
.bio :global(.Input) {
  flex: 1 1 auto;
}

.bio {
  flex-wrap: wrap;
}

.name {
  flex: 3 1 auto;
}

.abilityScore :global(.Input) {
  flex: 1 1 auto;
}
.abilityScore :global(.Input):first-child {
  flex: 3 1 auto;
}

.item :global(.Input) {
  flex: 1 1 auto;
}
